*{
    margin: 0;
    padding: 0;
}

.tab{
    width: 370px;
    height: 190px;
    box-sizing: border-box;
    background: rgb(245, 240, 240);
    border-radius: 15px;
    padding: 17px 10px 20px 10px;
    margin: 0 auto;
    margin-top: 250px;
}
p, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
    border-radius: 7px;

}
a{
    text-decoration: none;
    color: #000;
    
}
h3:hover {
background: hsl(0, 32%, 92%);
}