html,
body,
*{ margin: 0;
   padding: 0;
}
.tab{
    width: 300px;
    background: rgb(245, 240, 240);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 10px 10px;
    font-family: sans-serif;
}
h3{
    text-align: center;
    padding-bottom: 20px;
}
p, h3{
    padding: 7px;
    list-style-type: none;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: black;
}
p:hover{
    background: hsl(0, 32%, 92%);
}